In [2]:
import pandas as pd
import os

In [3]:
company_info = pd.read_csv('company_info.csv')

In [4]:
company_info.head()

,Unnamed: 0,symbol,quarter,year,label,concept,unit,value
0,0,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
1,1,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
2,2,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
3,3,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
4,4,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10

In [5]:
company_info.rename(columns={'Unnamed: 0': 'index',
                   'label': 'entry_label',
                    'concept': 'entry_concept',
                    'unit': 'entry_unit',
                    'value': 'entry_value'
                   }, inplace=True)

In [6]:
company_info.head()

,index,symbol,quarter,year,entry_label,entry_concept,entry_unit,entry_value
0,0,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
1,1,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
2,2,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
3,3,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
4,4,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10

In [7]:
company_info_cleaned = company_info.fillna("'Liabilities and Shareholders' Equity'")

In [8]:
company_info_cleaned.head()

,index,symbol,quarter,year,entry_label,entry_concept,entry_unit,entry_value
0,0,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
1,1,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
2,2,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
3,3,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
4,4,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10

In [9]:
# company_info_cleaned.to_csv('company_info.csv', encoding='utf-8', index=True)

In [10]:
# adding in name, industry, industry code - binning process
company_info_cleaned.loc[company_info_cleaned['symbol'] == 'BDX', 'company_name'] = 'Becton Dickson'
company_info_cleaned.loc[company_info_cleaned['symbol'] == 'AXP', 'company_name'] = 'American Express'
company_info_cleaned.loc[company_info_cleaned['symbol'] == 'SWKS', 'company_name'] = 'Sky Works Solutions'
company_info_cleaned.loc[company_info_cleaned['symbol'] == 'AFL', 'company_name'] = 'Aflac'
company_info_cleaned.loc[company_info_cleaned['symbol'] == 'ATRO', 'company_name'] = 'Astronics Corp'

In [11]:
company_info_cleaned.head()

,index,symbol,quarter,year,entry_label,entry_concept,entry_unit,entry_value,company_name
0,0,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10,Becton Dickson
1,1,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10,Becton Dickson
2,2,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10,Becton Dickson
3,3,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10,Becton Dickson
4,4,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10,Becton Dickson

In [12]:
company_info_cleaned.loc[company_info_cleaned['symbol'] == 'BDX', 'entry_industry'] = 'Medical Products'
company_info_cleaned.loc[company_info_cleaned['symbol'] == 'AXP', 'entry_industry'] = 'Banking'
company_info_cleaned.loc[company_info_cleaned['symbol'] == 'SWKS', 'entry_industry'] = 'Semiconductor'
company_info_cleaned.loc[company_info_cleaned['symbol'] == 'AFL', 'entry_industry'] = 'Insurance'
company_info_cleaned.loc[company_info_cleaned['symbol'] == 'ATRO', 'entry_industry'] = 'Aerospace'

In [13]:
company_info_cleaned.head()

,index,symbol,quarter,year,entry_label,entry_concept,entry_unit,entry_value,company_name,entry_industry
0,0,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10,Becton Dickson,Medical Products
1,1,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10,Becton Dickson,Medical Products
2,2,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10,Becton Dickson,Medical Products
3,3,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10,Becton Dickson,Medical Products
4,4,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10,Becton Dickson,Medical Products

In [14]:
company_info_cleaned.loc[company_info_cleaned['symbol'] == 'BDX', 'entry_industry_code'] = '0000010795'
company_info_cleaned.loc[company_info_cleaned['symbol'] == 'AXP', 'entry_industry_code'] = '0000004962'
company_info_cleaned.loc[company_info_cleaned['symbol'] == 'SWKS', 'entry_industry_code'] = '0000004127'
company_info_cleaned.loc[company_info_cleaned['symbol'] == 'AFL', 'entry_industry_code'] = '0000004977'
company_info_cleaned.loc[company_info_cleaned['symbol'] == 'ATRO', 'entry_industry_code'] = '0000008063'

In [15]:
company_info_cleaned.head()

,index,symbol,quarter,year,entry_label,entry_concept,entry_unit,entry_value,company_name,entry_industry,entry_industry_code
0,0,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10,Becton Dickson,Medical Products,0000010795
1,1,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10,Becton Dickson,Medical Products,0000010795
2,2,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10,Becton Dickson,Medical Products,0000010795
3,3,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10,Becton Dickson,Medical Products,0000010795
4,4,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10,Becton Dickson,Medical Products,0000010795

In [16]:
company_info_final = company_info_cleaned.reindex(columns=['index', 'company_name', 'entry_industry_code', 'symbol', 'entry_industry', 'quarter', 'year', 'entry_label', 'entry_concept', 'entry_unit', 'entry_value'])

In [17]:
company_info_final.head()

,index,company_name,entry_industry_code,symbol,entry_industry,quarter,year,entry_label,entry_concept,entry_unit,entry_value
0,0,Becton Dickson,0000010795,BDX,Medical Products,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
1,1,Becton Dickson,0000010795,BDX,Medical Products,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
2,2,Becton Dickson,0000010795,BDX,Medical Products,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
3,3,Becton Dickson,0000010795,BDX,Medical Products,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
4,4,Becton Dickson,0000010795,BDX,Medical Products,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10

In [18]:
company_info_final.rename(columns={'entry_industry_code': 'industry_code',
                             'entry_industry': 'industry'
                   }, inplace=True)

In [19]:
company_info_final.head()

,index,company_name,industry_code,symbol,industry,quarter,year,entry_label,entry_concept,entry_unit,entry_value
0,0,Becton Dickson,0000010795,BDX,Medical Products,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
1,1,Becton Dickson,0000010795,BDX,Medical Products,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
2,2,Becton Dickson,0000010795,BDX,Medical Products,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
3,3,Becton Dickson,0000010795,BDX,Medical Products,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
4,4,Becton Dickson,0000010795,BDX,Medical Products,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10

In [22]:
company_info_final.drop(['index'], axis=1)

,company_name,industry_code,symbol,industry,quarter,year,entry_label,entry_concept,entry_unit,entry_value
0,Becton Dickson,0000010795,BDX,Medical Products,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
1,Becton Dickson,0000010795,BDX,Medical Products,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
2,Becton Dickson,0000010795,BDX,Medical Products,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
3,Becton Dickson,0000010795,BDX,Medical Products,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
4,Becton Dickson,0000010795,BDX,Medical Products,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
...,...,...,...,...,...,...,...,...,...,...
2967,Astronics Corp,0000008063,ATRO,Aerospace,Q1,2022,Accrued Expenses and Other Current Liabilities,OtherLiabilitiesCurrent,usd,4.449200e+07
2968,Astronics Corp,0000008063,ATRO,Aerospace,Q1,2022,Accrued Expenses and Other Current Liabilities,OtherLiabilitiesCurrent,usd,4.449200e+07
2969,Astronics Corp,0000008063,ATRO,Aerospace,Q1,2022,Accrued Expenses and Other Current Liabilities,OtherLiabilitiesCurrent,usd,4.449200e+07
2970,Astronics Corp,0000008063,ATRO,Aerospace,Q1,2022,Accrued Expenses and Other Current Liabilities,OtherLiabilitiesCurrent,usd,4.449200e+07
2971,Astronics Corp,0000008063,ATRO,Aerospace,Q1,2022,Accrued Expenses and Other Current Liabilities,OtherLiabilitiesCurrent,usd,4.449200e+07

In [23]:
company_info_final.to_csv('company_info_final.csv', encoding='utf-8', index=False)

In [24]:
company_info_final.to_json('company_info_final.json', orient='table')