In [13]:
import pandas as pd
import os

In [14]:
company_info = pd.read_csv('company_info.csv')

In [15]:
company_info.head()

,Unnamed: 0,symbol,quarter,year,label,concept,unit,value
0,0,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
1,1,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
2,2,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
3,3,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
4,4,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10

In [16]:
company_info.rename(columns={'Unnamed: 0': 'index',
                   'label': 'entry_label',
                    'concept': 'entry_concept',
                    'unit': 'entry_unit',
                    'value': 'entry_value'
                   }, inplace=True)

In [17]:
company_info.head()

,index,symbol,quarter,year,entry_label,entry_concept,entry_unit,entry_value
0,0,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
1,1,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
2,2,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
3,3,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
4,4,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10

In [18]:
company_info_cleaned = company_info.fillna("'Liabilities and Shareholders' Equity'")

In [19]:
company_info_cleaned.head()

,index,symbol,quarter,year,entry_label,entry_concept,entry_unit,entry_value
0,0,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
1,1,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
2,2,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
3,3,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10
4,4,BDX,Q3,2017,Liabilities and Shareholders’ Equity,LiabilitiesAndStockholdersEquity,usd,3.716600e+10

In [24]:
company_info_cleaned.to_csv('company_info.csv', encoding='utf-8', index=True)