In [8]:
import pandas as pd
import os

In [9]:
filesdf = pd.DataFrame()

In [19]:
directory = "C://Users/qbbrenna.ANT/Documents/GitHub/Project-3/project3files"

In [24]:
for folder in os.listdir(directory):
    folder_path = os.path.join(directory, folder)
    for file in os.listdir(folder_path):
        if file.startswith('0000010795-'):
            curdf = pd.read_json(os.path.join(folder_path, file))
            filesdf = pd.concat([filesdf, curdf], ignore_index=True)

In [26]:
# split on brackets
# drop the 2 we dont need

filesdf.head()

,startDate,endDate,year,quarter,symbol,data
0,2016-10-01,2017-06-30,2017,Q3,BDX,"[{'label': 'Cash and equivalents', 'concept': ..."
1,2016-10-01,2017-06-30,2017,Q3,BDX,"[{'label': 'Net (Loss) Income', 'concept': 'Ne..."
2,2016-10-01,2017-06-30,2017,Q3,BDX,"[{'label': 'Net (Loss) Income', 'concept': 'Ne..."
3,2016-10-01,2017-09-30,2017,FY,BDX,"[{'label': 'Cash and equivalents', 'concept': ..."
4,2016-10-01,2017-09-30,2017,FY,BDX,"[{'label': 'Net Income', 'concept': 'NetIncome..."

In [38]:
filesdf[['bs','cf','ic']]= filesdf['data'].str.split('},',expand=True)
filesdf.head()

ValueError: Columns must be same length as key